*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
@font-face{
    font-family:fuente_1;
    font-style:normal;
    font-weight: normal;
    src: url(./assets/fonts/RaceSport.ttf);
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h2,a{
    font-family: fuente_1; 
}
header{
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
}
header img{
    height: 300px;
    width: 100%;
    border-color: gray;
}
header h1{
    font-size: 1.8rem;
    font-style: oblique;
    display: flex;
    width: 700px;
    margin-top: 20px;
    padding-left: 10px;
    color: yellow;
}
header nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 10px;
}
header nav a{
    font-size: 1rem;
    border-style: solid;
    border-color: gray;
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
}
header nav a[href="#"]{
    background-color: green;
}

.events{
    text-align: center;
    background-color:black;
    border-color: gray;
    font-size: 1rem;
    border-color: yellow;
    border-style: solid;
    border-left: black;
    border-right: black;
    border-width: 0.5px;
    color:yellow;
}
.container{
    display: flex;
    flex-direction: row;
}

aside{
    display: flex;
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

aside img{
    height: 150px;
    width: 150px;
    margin-top: 20px;
}
aside a{
    font-size: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 150px;
    margin-bottom: 10px;  
}
aside a[href="#"]{
    background-color: green;
}
article{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
article div{
    margin-top: 20px;
    
}
.fechas{
    background-color:yellowgreen;
    border-radius:15px;
    padding: 10px;
}

.rules p, .rules ol, .rules ul, .rules li{
    margin-top: 20px;
}
.rules-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coach-rules{
    list-style-image: url(./assets/hockey-puck-solid.svg);
    margin-left: 50px;
}
.fields{
    margin-left: 50px;
}
.table-container{
    width: 800px;
}
table{
    background-color: green;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: solid 1px black;
    padding: 10px;
}
thead{
    background-color: black;
    color: yellow;
}
tr:nth-child(even){
    background-color: yellow;
}
tr:hover th{
    background-color: black;
    color: yellow;
}
.elementary{
    display: flex;
    flex-direction: column;
}
.elementary label, .size label{
    height: 240px;
    padding: 20px;
}
#grade, #talle, .personal-data div{
    margin: 10px; 
}
.position{
    height: 70px;
}
.position legend, .size legend{
    margin-bottom: 20px;
}

.permission p{
    padding: 20px;
}
.permission div{
    margin-bottom: 20px;
}
form{
   background-color: gray;
   border-radius: 10px;
   font-size: 0.8rem;
   font-weight: bold;
   padding: 10px;
   width: 600px;
}
button{
    width: 150px;
    height: 40px;
    background-color: green;
    border-radius: 5px;
    color: white;
    font-size: large;
    border-color: yellow;
}
.boton{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
form legend{
color: yellow;
font-size: larger;
}
iframe{
    width: 200px;
    height: 100px;
}